.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.galleryItem {
  margin: 20px;
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageContainer {
  width: 100px;
  height: 150px;
}

.galleryPic {
  max-height: 100%;
}
