body {
  background-color: #f8f0fb;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #211a1d;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.App-title {
  font-size: 1.5em;
}

.galleryContainer {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, 270px);
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  justify-content: center;
}

.galleryItem {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageContainer {
  width: 200px;
  height: 160px;
}

.descriptionImageContainer {
  display: flex;
  justify-content: center;
}

.imageDescription {
  font-size: small;
}

.galleryPic {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  width: auto;
  height: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.space {
  margin: 0px 10px;
  margin-top: 30px;
}

.descriptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#addPhotoForm {
  width: 95%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#addPhotoButton,
#uploadPhotoButton,
#descriptionModalButton {
  height: 56px;
  width: 170px;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 0px 10px;
  margin-top: 30px;
}

#descriptionModalButton {
  width: 300px;
  margin-bottom: 50px;
}

#uploadPhotoButton {
  width: 250px;
}

#photoDescription,
#photoPath {
  width: 350px;
}

#descriptionBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#descriptionBoxForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#galleryForm {
  display: flex;
  justify-content: center;
}

.displayModalContainer {
  height: 600px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.displayModalImage {
  max-height: 100%;
  max-width: 100%;
}
